
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --text-color: white;
}

[data-theme='dark'] {
  
  --background: rgb(203, 202, 202);
  --text-color: black;
}

body {
  
  background-color:var(--background)  !important ;  
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body h1,h2,h3,h4,h5 {
  color: var(--text-color) !important;
}
body span{
    color: var(--text-color) !important;

} 
body a {
  /* background-color: var(--background) !important;  */
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.welcome {
    color: var(--text-color) !important;
}
#baricone {
    color: var(--text-color) !important;

}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.back{
  background-image: url('../public/Images/login/Group267.png');
width: 100%;
height: 100%;
background-repeat: no-repeat;
}
.btnlogin{
background-color: #888888;

Padding: 10px 50px 10px 50px;
border-radius: 30px;
}
.borderdark{
  border-radius: 2rem !important ; 

}
.borderset{
  border-radius: 20px !important;
  border: 1px #888888 solid;
  padding: 20px;
  color: rgb(202, 201, 201);
  background-color: transparent;
  height: 3.7rem;
}
.profassionalinput{
  background-color: transparent;
border: white 1px  solid;
width: 17rem;
height: 3rem;
  outline: none;
  color: #FFFFFF;
}
.fontsize{
 font-size: 3rem;
}
.btnhandle{
  background-color: transparent ;
  border: 1px solid white !important;
}
/* components/StepIndicator.css */
.step-button {
  position: relative;
}

.step-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: black;
  transform: translate(-50%, -50%);
}
.changeinput{
  background: transparent;
  border: solid 1px #6b6565;
  color: white;
  outline: none;
}
.step-button.bg-gray-500::before {
  background-color: white;
}

#professional-textarea{
 background-color:  #353434;
border: white 1px  solid;
outline: navy;
}
.border::placeholder{
  color: rgb(216, 216, 216) !important; 
}



h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}

h3{
  font-size: 2.7rem;
}

h1,h2,h3,h4,h5,h6{

 
}
.underspan{
  font-weight: 100;

  font-size: 1.8rem;
  font-style:italic;
}
.marl{
  margin-left:4rem ;

}
@media only screen and  (max-width:764px)  {
 .marl{
  margin-left:0rem ;

} 
.mtsm{
margin-top: 6rem;
}
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
